
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E2C5AA;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #E2C5AA;
    color: black;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo-header {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.month-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
}

.month-nav button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#month-year {
    font-weight: bold;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 400px;
    width: 100%;
}

.day, .weekday {
    border: 1px solid #ccc;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.weekday {
    background-color: #d6bfa7;
    font-weight: bold;
}

.taken-olistic {
    background-color: #a3d9a5;
}

.taken-finasterida {
    background-color: #d9c4a3;
}

.taken-minoxil {
    background-color: #a3bcd9;
}

button {
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #E2C5AA;
    color: black;
    width: 90%;
    max-width: 400px;
    cursor: pointer;
}
